* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 98.8vw;
  height: 100%;
}

body {
  background-image: url("../images/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#main-container {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

#logo {
  width: 100px;
  height: 100px;
  background-color: white;
}

#logo img {
  height: 50%;
}
#form-container {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 300px;
  height: 500px;
  background: hsla(280, 72%, 56%, 1);

  background: linear-gradient(
    0deg,
    hsla(280, 72%, 56%, 1) 0%,
    hsla(239, 76%, 70%, 1) 100%
  );
}

button {
  display: block;
  height: 40px;
  width: 100px;
  border-radius: 24px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.b-r-16 {
  border-radius: 16px;
}

.t-a-c {
  text-align: center;
}

.f-c {
  display: flex;
  flex-direction: column;
}

.a-i-c {
  align-items: center;
}

.j-c-c {
  justify-content: center;
}

.j-c-fs {
  justify-content: flex-start;
}

.j-c-sb {
  justify-content: space-around;
}

.b-r-50p {
  border-radius: 50%;
}

.t-c-w {
  color: white;
}

::placeholder {
  color: white;
  opacity: 1;
  /* font-size: 1rem; */
}

.f-r {
  display: flex;
  flex-direction: row;
}

.form__inputImg {
  width: 20px;
}

.g-8 {
  gap: 8px;
}

.b-g-t {
  background-color: transparent;
}

.w-80p {
  width: 80%;
}

.m-lr-a {
  margin-left: auto;
  margin-right: auto;
}

.b-no {
  border: none;
}

.b-b-w {
  border-bottom: 1px solid white;
}

.p-b-8 {
  padding-bottom: 8px;
}

input:focus {
  outline: none;
}
