#main-container {
  background-color: #a3cbd8;
}

button {
  background-color: #55b15e;
}

/* input:focus:valid + span::after {
  content: "✅";
}

input:focus:invalid + span::after {
  content: "❌";
} */
