.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background: hsla(61, 81%, 88%, 1);

  background: linear-gradient(
    225deg,
    hsla(61, 81%, 88%, 1) 0%,
    hsla(310, 65%, 85%, 1) 50%,
    hsla(7, 89%, 69%, 1) 100%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(61, 81%, 88%, 1) 0%,
    hsla(310, 65%, 85%, 1) 50%,
    hsla(7, 89%, 69%, 1) 100%
  );

  background: -webkit-linear-gradient(
    225deg,
    hsla(61, 81%, 88%, 1) 0%,
    hsla(310, 65%, 85%, 1) 50%,
    hsla(7, 89%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F8F9C7", endColorstr="#F2C1EA", GradientType=1 );
}

.formContainer {
  background-color: white;
  width: 25rem;
  height: fit-content;
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
}

* {
  margin: auto;
}

input[type="text"],
input[type="email"] {
  border: none;
  width: 80%;
  outline: none;
  padding: 8px 0;
}

.inlinePart {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  padding: 0;
}

button {
  padding: 8px;
  width: 80%;
  background-color: #3187fe;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button span {
  font-weight: bold;
  float: right;
}

.link {
  color: #3187fe;
  text-decoration: underline;
  cursor: pointer;
}

label {
  padding-left: 8px;
}
