.App {
  text-align: center;
  background-color: #eef3fa;
  width: 90%;
  margin: auto;
  padding: 24px;
  border-radius: 24px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 24px; */
  flex-wrap: wrap;
  padding-left: 48px;
  padding-right: 48px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  align-items: flex-start;
  gap: 8px;
  align-self: baseline;
}

.inputBox input {
  width: 33rem;
  height: 2rem;
  background-color: white;
  border: none;
}

form button {
  background-color: #2e3891;
  color: white;
  border: none;
  padding: 0 24px;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.75rem;
}
